# Временные файлы препроцессора
*.i

# Файлы пользовательских настроек
*.local
*.user

# Скомпилированные ресурсы
*.res
*.dcu
*.obj

# Папки сборки
__history/
Debug/
Release/
Win32/
Win64/

# Исполняемые файлы
*.exe
*.dll
*.bpl

# Прочие временные файлы
*.~*
*.identcache
*.stat